/*
Developer : Ponraj Paul
*/
.bannerCWrap, header.active, .whyAplyWrap, .clientsSayWrap{ background:url(../images/ie/overlay.png) repeat;}
header.active .logo{ width:234px; height:52px; background-size:234px 52px;}
header.active{ height:70px;}
form label > span{ display:block;}