/*
Developer : Ponraj Paul
*/
*, *:before, *:after{
	margin:0;
	padding:0;
	border:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);}
html{
	width: 100%;
	height: 100%;
	overflow-y:scroll;
	overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;}
body {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	line-height:1;
	width:100%;
	background-color:#f7f8f8;
	color:#515556;
	height:100%;	
	font-size:100%;
	vertical-align:baseline;}
a{
	text-decoration:none; color:#000000;}
.clear{
	zoom:1}
.clear:before,.clear:after{
	content:" ";
	display:table;}
.clear:after{
	clear:both;}
ul{
	list-style:none;}
input, img, button, a, textarea, select{
	outline:0;}
img{
	max-width:100%;
	display:inline-block;
	vertical-align:middle;}

::-webkit-input-placeholder {
 	font-family: 'Roboto', sans-serif; color: #9fa6b0; font-size:14px; font-style:italic;}
:-moz-placeholder {
   	font-family: 'Roboto', sans-serif; color: #9fa6b0; opacity: 1; font-size:14px; font-style:italic;}
::-moz-placeholder {
   	font-family: 'Roboto', sans-serif; color: #9fa6b0; opacity: 1; font-size:14px; font-style:italic;}
:-ms-input-placeholder {
  	font-family: 'Roboto', sans-serif; color: #9fa6b0; font-size:14px; font-style:italic;}
::placeholder {
 	font-family: 'Roboto', sans-serif; color: #9fa6b0; font-size:14px; font-style:italic;}
.feedContainer ::-webkit-input-placeholder {
 	color: #555555; font-size:12px;}
.feedContainer :-moz-placeholder {
   	color: #555555; opacity: 1; font-size:12px;}
.feedContainer ::-moz-placeholder {
   	color: #555555; opacity: 1; font-size:12px;}
.feedContainer :-ms-input-placeholder {
  	color: #555555; font-size:16px;}
::placeholder {
 	color: #555555; font-size:16px;}
::-moz-selection { color:#FFFFFF;  background:#e57326;}
::selection{ color:#FFFFFF;  background:#e57326;}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset;}

input[type="text"], input[type="email"], input[type="submit"], textarea, input[type="button"]{font-family: 'Roboto', sans-serif;}
input[type="text"], input[type="email"], textarea{ border:1px solid #b9bdbd; width:100%; padding:10px; font-size:16px; color:#000000;}
input[type="submit"], input[type="button"]{float:right; border:1px solid #e57326; color:#e57326; height:50px; background-color:#FFFFFF; font-weight:600; padding:0 50px; font-size:16px; cursor:pointer;}
textarea{ resize:none; height:100px;}
input[type="button"]{ float:none;}

.wrap{ margin:0 auto;}

header{ position:fixed; top:0; left:0; width:100%; height:56px; border-bottom:1px solid #e4e4e4; background-color:#FFFFFF; z-index:101;
    -webkit-box-shadow: 0 8px 6px -6px #e4e4e4;
       -moz-box-shadow: 0 8px 6px -6px #e4e4e4;
            box-shadow: 0 8px 6px -6px #e4e4e4;
}
header .menuLeft, header li{ float:left;}
header .menuLeft li:first-child{ padding-left:0;}
header .menuRight li a, header .menuLeft li a{display:block; line-height:56px; height:56px;font-weight:700; font-size:14px;}
header .menuLeft li a i, header .menuRight li a i{background-image:url(../images/header_icons.png); background-repeat:no-repeat; vertical-align:middle; display:inline-block; height:56px; width:40px;}
header .menuLeft li a i{ margin-left:-10px;}
header .menuLeft li span{ display:inline-block; vertical-align:middle; padding-left:5px;}
header .menuLeft li a{ padding-right:10px;}
header .menuLeft li a.homeIcon i{ background-position:0 0;}
header .menuLeft li a.homeIcon:hover i{ background-position:0 -56px;}
header .menuLeft li a.discoverIcon i{ background-position:-56px 0;}
header .menuLeft li a.discoverIcon:hover i{ background-position:-56px -56px;}
header .menuLeft li a.discussionIcon i{ background-position:-112px 0;}
header .menuLeft li a.discussionIcon:hover i{ background-position:-112px -56px;}
header .menuLeft li a:hover{ color:#f56961;}
header .logo{ background:url(../images/logo.png) no-repeat center center; width:102px; height:56px; background-size:102px 36px; display:block; position:absolute; left:50%; margin-left:-51px;}
header .menuRight{ float:right;}
header .menuRight li a.search i{ background-position:-168px 0;}
header .menuRight li a.search:hover i{background-position:-168px -56px;}
header .menuRight li a.notification{position:relative;}
header .menuRight li a.notification i{ background-position:-280px 0;}
header .menuRight li a.notification:hover i{ background-position:-280px -56px;}
header .menuRight li a.mail i{ background-position:-224px 0;}
header .menuRight li a.mail:hover i{ background-position:-224px -56px;}
header .menuRight li a.displayImage{padding-left:0; background:url(../images/header-arrow.png) no-repeat right center; padding-right:15px; margin-left:15px;}
header .menuRight li a.notification span{ background-color:#000000; border-radius:50%; width:20px; height:20px; line-height:20px; text-align:center; display:block; position:absolute; left:28px; margin-top:-6px; color:#FFFFFF; font-size:10px; font-weight:400; top:10px;}
header .menuRight li a.notification:hover span{ background-color:#f56961;}
.navIcon{ background:url(../images/menu.png) no-repeat center center; width:50px; height:50px; background-size:50px 50px; display:block; position:absolute; left:2%; display:none; cursor:pointer;}
header .menuLeft.active{ display:block;}
.sideMenu{ width:30px; height:46px; background:url(../images/menu_icon.png) no-repeat center center; display:block; margin-left:10px;}

.content{ padding-top:60px; background-color:#FFFFFF; overflow:hidden;}
.profileTop{ width:500px; margin:0 auto; text-align:center; padding-top:35px;}
.profileTop .name{ font-size:30px; padding:12px 0;}
.profileTop .position{ font-size:18px;}
.profileTop .counts{ text-align:center; width:auto; margin:0 auto; padding:25px 0; color:#bac1c7; font-size:14px;}
.profileTop .counts .row{ display:inline-block; padding-left:20px;}
.profileTop .counts .post{ padding-left:0;}
.profileTop .counts span{ display:inline-block; padding-right:5px; font-weight:700;}
.profileNav{ background-color:#ebedf0; padding:20px;}
.profileNav li{ width:25%; float:left; padding:20px;}
.profileNav li a{ display:block; width:100%;}
.profileNav li .icon{ background-color:#FFFFFF; width:100%; height:170px; text-align:center; padding-top:35px;}
.profileNav li .icon i{background-image:url(../images/profile_icons.png); background-repeat:no-repeat; display:inline-block; width:100px; height:100px;}
.profileNav .bio i{ background-position:0 0;}
.profileNav li a.bio:hover i{background-position:0 -100px;}
.profileNav .boards i{ background-position:-100px 0;}
.profileNav li a.boards:hover i{background-position:-100px -100px;}
.profileNav .activities i{ background-position:-200px 0;}
.profileNav li a.activities:hover i{background-position:-200px -100px;}
.profileNav .more i{ background-position:-300px 0;}
.profileNav li a.more:hover i{background-position:-300px -100px;}
.profileNav li .name{ height:50px; background-color:#f56961; line-height:50px; text-align:center; color:#FFFFFF; text-transform:uppercase;}

footer{ background-color:#383838; color:#b8b8b8; font-size:14px; padding:20px 0; text-align:center; font-weight:100;}
footer p{ line-height:18px;}
footer a{color:#b8b8b8;}
footer a:hover{ text-decoration:underline;}

.profileNav .icon{-webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative;	-webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; position:relative;}


.profileNav a:hover .icon{ color:#ffffff;}
.profileNav a:hover .icon:before{ -webkit-transform: scaleY(1); -moz-transform: scaleY(1); -ms-transform: scaleY(1); -o-transform: scaleY(1); transform: scaleY(1);}
.profileNav .icon:before{ content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; -webkit-transition-property: transform; -moz-transition-property: transform; -ms-transition-property: transform; -o-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.3s;	-moz-transition-duration: 0.3s;	-ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.profileNav .icon:before{ background: #f56961; -webkit-transform: scaleY(0); -moz-transform: scaleY(0); -ms-transform: scaleY(0); -o-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50%; -moz-transform-origin: 50%;-ms-transform-origin: 50%; -o-transform-origin: 50%; transform-origin: 50%;}

.outer-nav{ width:80% !important; right:-100%; z-index:100; background-color:#FFFFFF; border:1px solid #e2e2e2; opacity:0; visibility:hidden; padding:20px;}
.perspective.animate .outer-nav{-webkit-animation: movePop 500ms forwards 0ms;
       -moz-animation: movePop 500ms forwards 0ms;
        -ms-animation: movePop 500ms forwards 0ms;
         -o-animation: movePop 500ms forwards 0ms;
            animation: movePop 500ms forwards 0ms;}
.outer-nav.right{ right:0; left:auto;}

.myPop h2{ font-size:14px; text-transform:uppercase; font-weight:normal;}
.myPop p{ font-size:16px; font-weight:normal;}

.myPop .row{ margin-bottom:30px; font-size:14px;}
.myPop .row p{ padding-bottom:10px; font-weight:400; font-size:12px; line-height:20px;}
.myPop .close,.UserPop .close{ position:absolute; background:none; -webkit-appearance:none; background:url(../images/close.png) no-repeat; width:37px; height:37px; display:block; left:-15px; top:-15px; cursor:pointer;}
.myPop .row .column{ padding-left:50px; padding-right:20px; width:100%; position:relative;}
.myPop .row.two .column{ width:50%; float:left; padding-left:50px; padding-right:20px;}
.myPop .row.two .column.Contacts{ padding-left:150px;}
.myPop .row h2{ position:relative; line-height:27px; height:27px;}
.myPop .row h2:before{ position:absolute; left:-50px; content:" "; background-image:url(../images/pop_icons.png); background-repeat:no-repeat; width:27px; height:27px;}

.myPop .row .Contacts h2:before{ background-position:-27px 0;}
.myPop .row .education h2:before{ background-position:-54px 0;}
.myPop .row .Work h2:before{ background-position:-81px 0;}

.myPop .row h2 span{ display:inline-block; vertical-align:middle;}
.myPop .row h2 a.edit{background:url(../images/pop_icons.png) no-repeat; width:27px; height:27px; background-position:-108px 0;  left:200px; display:none; opacity:0; visibility:hidden; cursor:pointer; z-index:2; margin:0; vertical-align:middle;}
.myPop .row .column:hover .edit{ opacity:1; display:inline-block; visibility:visible;}

.overlay{ background-color:rgba(0, 0, 0, 0.5); position:absolute; top:0; left:0; width:100%; height:100%; z-index:999;padding:30px; display:none;}
.Opened{display:block;z-index: 999;position:fixed;top:0px;left:0px;width:100%;height:100%;}
.myPop{background-color:white;position:relative;}
.myPop .close {right: -15px;left: unset;}
.myPop .dataRow{ padding:5px 0; font-size:12px; font-weight:400; line-height:20px;}
.myPop .dataRow .field{ float:left; width:100px;}
.myPop .dataRow .value{ padding-left:100px;}
.myPop{ height:100%;padding: 20px;border-radius: 7px;
	transform:translateX(100%);
	-webkit-transform:translateX(100%);
	-moz-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transition: transform 0.5s ease-out;
	-webkit-transition: transform 0.5s ease-out;
	-moz-transition: transform 0.5s ease-out;
	-ms-transition: transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
}
.Opened .myPop{
	transform:translateX(4%);
	-webkit-transform:translateX(4%);
	-moz-transform:translateX(4%);
	-ms-transform:translateX(4%);
}
.popWrap{ overflow-y:scroll; height:100%;padding: 20px;border: 1px solid #CFCBCB;}
.outer-nav.vertical{ top:80px;}

.wrapper{ background-color:#ebedf0;}
.profileSection{ background-color:#FFFFFF;}

.secMenu{ text-align:center; padding:10px 0;}
.secMenu a{ position:relative; line-height:30px; display:inline-block; margin:0 20px;}
.secMenu.feedMenu a{padding-left:35px;}
.secMenu a:hover, .secMenu a.active{color:#f56961;}
.secMenu.feedMenu a:hover, .secMenu.feedMenu a.active{ color:#f56961; text-decoration:none;}
.secMenu.feedMenu a:before{ background-image:url(../images/sub_icons.png); background-repeat:no-repeat; width:30px; height:30px; position:absolute; content:" "; left:0;}
.secMenu a.feed:before{ background-position:0 0;}
.secMenu a.discussion:before{ background-position:-30px 0;}
.secMenu a.feed:hover:before, .secMenu a.feed.active:before{ background-position:0 -30px;}
.secMenu a.discussion:hover:before, .secMenu a.discussion.active:before{ background-position:-30px -30px;}

.feedContainer{ background-color:#ECEEEE; padding:20px 0;}
.feedContainer .feedTimelineWrap, .feedContainer .followerWrap{ float:left; padding:0 10px;}
.feedContainer .feedTimelineWrap{width:75%;}
.feedContainer .followerWrap{width:25%;}
.feedContainer textarea{ background-color:transparent; border:0;}
.feedContainer .feedProfile{ padding:5px;}
.feedContainer ul{width:100%;}
.feedContainer li{padding:10px; float:left; width:100%; position:relative; padding-left:30px;}
.feedContainer li .feedWrap{background-color:#ffffff; border-radius: 8px; box-shadow: 0px 0px 6px 0px #a6a7a7;}
.feedContainer .feedImage{ position:relative;}
.feedContainer .feedData{ padding:15px; color:#707070;}
.feedContainer .feedWrap .actions{ padding:10px 20px;}
.feedContainer .feedWrap .options a{ background-image:url(../images/feed_list_icons.png); background-repeat:no-repeat; width:40px; height:22px; background-position:0 0; display:block;}
.feedContainer .feedWrap .options a:hover{ color:#f56961;}
.feedContainer .feedWrap .options a.starIcon{ background-position:0 0;}
.feedContainer .feedWrap .options a.commentIcon{ background-position:-40px 0;}
.feedContainer .feedWrap .options a.createNewIcon{ background-position:-80px 0;}
.feedContainer .feedWrap .options a.viewMoreIcon{ background-position:-120px 0;}
.feedContainer .feedWrap .options a.starIcon:hover{ background-position:0 -22px;}
.feedContainer .feedWrap .options a.commentIcon:hover{ background-position:-40px -22px;}
.feedContainer .feedWrap .options a.createNewIcon:hover{ background-position:-80px -22px;}
.feedContainer .feedWrap .options a.viewMoreIcon:hover{ background-position:-120px -22px;}
.feedContainer .feedWrap .options li{ float:left; width:auto; padding:0; line-height:22px; font-size:12px; padding-left:10px;}
.feedContainer .feedWrap .options li:first-child{ padding-left:0;}
.feedContainer .feedWrap .options{ float:right;}
.feedContainer .feedWrap .source{ float:left; font-size:11px; line-height:22px; height:22px; overflow:hidden;}
.feedContainer .feedWrap .source a{ color:#a5a5a5;}
.feedContainer .feedWrap .source a:hover{ text-decoration:underline;}
.feedContainer .feedData h2{ font-size:18px; line-height:20px; height:40px; overflow:hidden; margin-bottom:20px;}
.feedContainer .feedData p{ font-size:14px; text-align:justify; line-height:16px; height:48px; overflow:hidden;}
.feedContainer .imageOverlay{ background-color:rgba(0, 0, 0, 0.3); width:100%; height:30px; position:absolute; bottom:0; padding:5px 0; text-align:right;}
.feedContainer .imageOverlay a{ color:#FFFFFF; position:relative; padding-left:20px; font-size:13px; line-height:20px;}
.feedContainer .imageOverlay a:before{ content: " "; position:absolute; left:0; background-image:url(../images/image_overlay_icons.png); width:20px; height:20px;}
.feedContainer .imageOverlay a.share{ border-right:1px solid #FFFFFF; padding-right:15px;}
.feedContainer .imageOverlay a.likes{ margin-left:10px; padding-right:10px;}
.feedContainer .imageOverlay a.share:before{ background-position:0 0;}
.feedContainer .imageOverlay a.likes:before{ background-position:-20px 0;}
.feedContainer .commentProfile img{ float:left; width:30px; border-radius:50%;}
.feedContainer .userName{ font-weight:700; font-size:14px; padding:10px 0 0 0;}
.feedContainer .userName a{color:#2e9ac9;}
.feedContainer .profilePic{ width:55px; position:absolute; top:-8px; left:0;}
.feedContainer .postTime{ color:#bec8d2; font-size:11px; padding:3px 0;}
.feedContainer .headDetails{ padding-left:40px;}
.feedContainer .count{ color:#333534; font-size:11px; padding:5px 0; border-bottom:1px solid #e3e8ec;}
.feedContainer .feedComment{ padding:0 5px; font-size:13px;}
.feedContainer .commentlist .row{ padding-top:10px; border-bottom:1px solid #e3e8ec; padding-bottom:5px;}
.feedContainer .commentName{font-weight:500; color:#2e9ac9;}
.feedContainer .commentDetails{ line-height:15px; padding-left:40px; text-align:justify;}
.feedContainer .commentOptions{ width:100%; padding-top:7px;}
.feedContainer .commentOptions .commentTime, .feedContainer .commentOptions a{ display:inline-block; color:#c6cbcf; font-size:12px; line-height:15px;}
.feedContainer .commentOptions a{ background-image:url(../images/reply_icon.png); background-repeat:no-repeat; width:20px; height:15px; padding-left:20px; margin-left:5px;}
.feedContainer textarea{ height:60px;}

.feedContainer .followerWrap{ padding-top:10px; font-size:14px;}
.followerWrap .followers{ background-color:#FFFFFF; padding:20px;}
.feedContainer .followerWrap{ padding-left:0;}
.feedContainer .followerWrap li{ width:100%; padding:10px 0;}
.feedContainer .followerWrap .business li{ width:20%;}
.feedContainer .followerWrap li img{ border-radius:50%; width:40px;}
.feedContainer .followerWrap li a{ color:#2e9ac9; font-weight:500;}
.feedContainer .followHeader{}
.feedContainer .followHeader div{ float:left;}
.feedContainer .followHeader div span{background-color:#2e9ac9; display:inline-block; border-radius:3px; padding:3px 5px; color:#FFFFFF; text-align:center; line-height:16px;}
.feedContainer .followHeader a{ float:right; color:#bec8d2; font-size:14px; display:inline-block; line-height:20px;}
.feedContainer .followSep{ padding-top:10px;}

.folowBut{ background-color:#FFFFFF; border:1px solid #2c2c2c; color:#2c2c2c; display:inline-block !important; width:auto !important; padding:5px 25px; border-radius:2px;}
.folowBut:hover{ color:#FFFFFF; background-color:#f56961; border:1px solid #f56961;}
.addFollower{ background-image:url(../images/add_follower.png); background-repeat:no-repeat; width:20px !important; height:26px; display:inline-block !important; background-position:left center; vertical-align:top;}
.grid_content .interests{ font-size:14px; color:#9fa6b0;}
.grid_content .followers{ font-size:12px; padding-top:10px;}
.people .add_button{ padding:10px 20px 20px 20px;}

.notifications{ border:1px solid #ededed; width:300px; height:auto; position:absolute; top:60px; right:0; z-index:100; background-color:#FFFFFF; border-radius:5px; box-shadow: 0 0 10px rgba(0,0,0,0.3);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
-o-box-shadow: 0 0 10px rgba(0,0,0,0.3); display:none;}
.notifications:before, .notifications:after{ content:" ";width: 0; height: 0; border-left: 10px solid transparent;	border-right: 10px solid transparent; border-bottom: 10px solid #d4d9df; position:absolute; top:-10px; right:100px;}
.notifications:after{ border-bottom: 10px solid #eaeff3; top:-9px;}
header .wrap{ position:relative;}
.notifications li{ padding:10px; border-top:1px solid #d4d9df; background-color:#eaeff3; font-size:14px;}
.notifications li:first-child{ border-top:0;}
.notifications li img{ float:left; width:35px;}
.notifications li p{ padding-left:50px; color:#9ca5ac;}

.editForm{ display:none;}
.editForm textarea{ font-size:12px; height:145px;}
.editForm input[type="text"]{ font-size:12px; padding:5px;}
.editable .editForm{ display:block;}
.editable .displayForm{ display:none;}
.popWrap a.submit{ background-image:url(../images/submit.png); background-repeat:no-repeat; background-size:18px 18px; display:inline-block; height:27px; width:27px; vertical-align:middle; display:none; margin-left:5px;}
.editable a.submit{ display:inline-block;}
.editable a.edit{ display:none;}
.myPop .row .column.editable:hover .edit{ opacity:0; display:none; visibility:none;}

.groupPage .add_button a{ display:inline-block; background-color:#34badf; width:auto; padding:8px 40px; color:#FFFFFF; text-transform:uppercase; font-size:14px; border-radius:4px;}
.groupPage .add_button a:hover{ background-color:#f56961;}

.groupPage, .discussionPage, .peoplesPage, .groupDetailPage{ background-color:transparent;}
.secMenu{ background-color:#FFFFFF;}
.gridFour{ margin-left:-30px; margin-top:30px;}
.gridFour li{ float:left; width:25%; padding-left:30px; margin-bottom:30px;}
.gridFour .liWrap{ background-color:#FFFFFF;}
.gridFour .liWrap .image img{ width:100%; display:block;}
.gridFour .details .name{font-weight: 400; font-size: 18px; color: #474141; text-align:center; height:38px; line-height:38px; margin-top:10px; overflow:hidden;}
.gridFour .details .title{font-weight: 400; font-size: 17px; color: #474141; overflow:hidden; line-height:20px; height:40px; margin:10px 0;}
.gridFour .details p{ color:#726969; font-size:12px; line-height:16px; height:48px; overflow:hidden; width:100%;}
.gridFour .details .counts{font-size: 12px; font-weight: 400; color: #9fa6b0; padding:10px 20px;}
.gridFour .details .counts .members{ float:left;}
.gridFour .details .counts .posts{ float:right;}
.gridFour .joinBut{ text-align:center; padding:20px;}
.gridFour .joinBut a{ display:inline-block; background-color:#34badf; width:auto; padding:8px 40px; color:#FFFFFF; text-transform:uppercase; font-size:14px; border-radius:4px;}
.gridFour .joinBut a:hover{background-color:#f56961;}
.gridFour .interests{font-size: 14px; color: #9fa6b0;}
.gridFour .followers{font-size: 12px; padding-top: 10px;}
.discussionContainer .gridFour .liWrap .image{ text-align:center; background-color:#f56961; position:relative; height:120px;}
.discussionContainer .gridFour .liWrap .image .title{ height:100px; line-height:100px; color:#FFFFFF;}
.discussionContainer .gridFour .liWrap .image .title span{ line-height:20px;  vertical-align:middle; display:inline-block; height:40px; overflow:hidden;}
.discussionContainer .gridFour .liWrap .hoverName{ position:absolute; width:100%; height:100%; left:0; top:0; background-color:rgba(0, 0, 0, 0.4); display:block; color:#FFFFFF; line-height:120px; display:none;}
.discussionContainer .gridFour .liWrap .counts{ font-size:11px;}
.discussionContainer .gridFour .liWrap .details p{ margin-top:30px;}
.discussionContainer .gridFour .liWrap .extraDetails{ position:absolute; display:none;}
.discussionContainer .gridFour .liWrap img:hover + .extraDetails{ display:block;}
.peoplesPage .gridFour{ text-align:center;}
.gridFour .addButton{padding: 10px 20px 20px 20px;}
.discussionContainer .gridFour .liWrap .image:hover .hoverName{ display:block;}
.discussionContainer .gridFour .liWrap.color1 .image{ background-color:#9ccc65;}
.discussionContainer .gridFour .liWrap.color2 .image{ background-color:#03a9f4;}
.discussionContainer .gridFour .liWrap.color3 .image{ background-color:#e57373;}
.discussionContainer .gridFour .liWrap.color4 .image{ background-color:#ba68c8;}
.discussionContainer .gridFour .liWrap.color5 .image{ background-color:#00bcd4;}
.discussionContainer .gridFour .liWrap.color6 .image{ background-color:#009688;}
.discussionContainer .gridFour .liWrap.color7 .image{ background-color:#cddc39;}
.discussionContainer .gridFour .liWrap.color8 .image{ background-color:#ff9800;}
.discussionContainer .gridFour .liWrap .image img{ width:70px; display:inline-block; position:absolute; bottom:0; margin-bottom:-35px; left:50%; margin-left:-35px}
.discussionContainer .gridFour .details .counts{ padding:10px 0; color:#000000;}
.discussionContainer .gridFour .details{ padding:0 10px; padding-bottom:20px;}

.discussionMenu{ background-color:#FFFFFF; padding:15px; margin-top:30px; font-size:14px; text-align:center;}
.discussionMenu li{ float:left; padding-left:20px; padding-top:6px;}
.discussionMenu li:first-child{ padding-left:0;}
.discussionMenu ul{ float:left;}
.discussionMenu .newThreadLink{ float:right; background-color:#f56961; color:#FFFFFF; padding:7px 15px; border-radius:4px;}
.discussionMenu li a:hover, .discussionMenu li a.active{ border-bottom:1px solid #f56961; color:#f56961;}

.addPeoples{ position:fixed; width:100%; height:100%; left:0; top:0; background-color:rgba(0, 0, 0, 0.5); z-index:10001; display:none;}
.addPeoples .addPeopleWrap{ background-color:#FFFFFF; width:600px; left:50%; margin-left:-300px; height:90%; top:5%; position:absolute; border-radius:4px; padding:20px; padding-bottom:40px;}
.addPeopleIn{ width:100%; height:100%; overflow:auto;}
.addPeoples .inviteHead img{ width:200px; float:left;}
.addPeoples .inviteHead .details{ padding-left:220px;}
.addPeoples .details .name{font-size: 18px; color: #474141; height:38px; line-height:38px; overflow:hidden;}
.addPeoples .interests{font-size: 14px; color: #9fa6b0;}
.addPeoples .followers{font-size: 12px; padding-top: 10px;}
.addPeoples .searchArea{ padding:5px 0;}
.addPeoples .searchArea input[type="text"]{ height:30px;}
.addPeoples .inviteList input[type="checkbox"]{ float:left; width:30px;}
.addPeoples .inviteList img{ width:50px; float:left;}
.addPeoples .inviteList li{ border-bottom:1px solid #dedede;}
.addPeoples .inviteList li label{ display:block;padding:4px 0; cursor:pointer;}
.addPeoples .inviteList li label:hover{ background-color:#f5f3f3;}
.addPeoples .inviteDetails{ position:relative;}
.addPeoples .inviteDetails .inviteDetails{padding-left:100px; padding-top:10px;}
.addPeoples .inviteList li input[type="checkbox"]{ visibility:hidden; opacity:0;}
.addPeoples .inviteList li input[type="checkbox"] + div:before{ content:" "; position:absolute; width:20px; height:20px; background-image:url(../images/checkbox.png); background-repeat:no-repeat; background-position:0 0; left:0; top:12px;}
.addPeoples .inviteList li input[type="checkbox"]:checked + div:before{ background-position:0 -40px;}
.addPeoples .close{ background:url(../images/tab-first.png) no-repeat; width:40px; height:58px; display:block; position:absolute; margin-left:-40px; left:0; top:0;}
.addPeoples .close:after{ background-image:url(../images/tab-cross.png); width:40px; height:58px; background-position:center center; content:" "; position:absolute; background-repeat:no-repeat; left:8px;}
.addPeoples .send button{background-color:#f56961; float:right; color:#FFFFFF; border-radius:4px; padding:5px 20px; margin-top:5px;}

.uploadWidget{position:fixed; bottom:20px; z-index:10; right:0; height:200px; width:60px;}
.newFeedIcon{ background-color:#f56961; height:58px; width:58px; display:block; border-radius:50%; background-image:url(../images/pen.png); background-repeat:no-repeat; background-position:center center; background-size:30px 30px; position:absolute; bottom:0; right:0;}
.newFeedIcon:hover{ background-size:20px 20px;}
.feedWidget{ position:fixed; top:0; left:0; width:100%; height:100%; z-index:10001; background-color:rgba(255,255,255,0.8); display:none;}
.feedWidget.active{ display:block;}
.chooseFeedType{ position:absolute; display:none; right:0; bottom:70px;}
.chooseFeedType a{width:45px; height:45px; float:none; margin:0 10px; position:relative; display:block; -webkit-transform:scale(0); -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); transform:scale(0); margin-bottom:5px;}
.chooseFeedType.active a{-webkit-animation: feedIconShow 200ms forwards;
       -moz-animation: feedIconShow 200ms forwards;
        -ms-animation: feedIconShow 200ms forwards;
         -o-animation: feedIconShow 200ms forwards;
            animation: feedIconShow 200ms forwards;}
.chooseFeedType a i{display:block; width:100%; height:100%; position:absolute; left:0; top:0; border-radius:50%;}
.chooseFeedType a i:before{ content:" "; position:absolute; background-image:url(../images/uploaded_icons.png); background-repeat:no-repeat; background-position:0 0; background-size:180px 90px; width:45px; height:45px; background-color:transparent; left:5px; top:5px}
.chooseFeedType.active a.text{-webkit-animation-delay: 0ms; -moz-animation-delay: 0ms; -ms-animation-delay: 0ms; -o-animation-delay: 0ms;animation-delay: 0ms;}
.chooseFeedType.active a.discuss{-webkit-animation-delay:100ms; -moz-animation-delay: 100ms; -ms-animation-delay: 100ms; -o-animation-delay: 100ms;animation-delay: 100ms;}
.chooseFeedType.active a.link{-webkit-animation-delay:200ms; -moz-animation-delay: 200ms; -ms-animation-delay: 200ms; -o-animation-delay: 200ms;animation-delay: 200ms;}
.chooseFeedType.active a.upload{-webkit-animation-delay:300ms; -moz-animation-delay: 300ms; -ms-animation-delay: 300ms; -o-animation-delay: 300ms;animation-delay: 300ms;}
.chooseFeedType a.text i{ background-color:#d95e40;}
.chooseFeedType a.text i:before{ background-position:0 0;}
.chooseFeedType a.discuss i{background-color:#f2992e;}
.chooseFeedType a.discuss i:before{ background-position:-45px 0;}
.chooseFeedType a.link i{background-color:#56bc8a;}
.chooseFeedType a.link i:before{ background-position:-90px 0;}
.chooseFeedType a.upload i{background-color:#4aa8d8;}
.chooseFeedType a.upload i:before{ background-position:-135px 0;}
.chooseFeedType a.text:hover i:before{background-position:0 -45px;}
.chooseFeedType a.discuss:hover i:before{ background-position:-45px -45px;}
.chooseFeedType a.link:hover i:before{ background-position:-90px -45px;}
.chooseFeedType a.upload:hover i:before{ background-position:-135px -45px;}
.chooseFeedType a:after{position: absolute; top: 50%; left: 50%; margin: -50px 0 0 -50px; width: 100px; height: 100px; border-radius: 50%; content: ''; opacity: 0; pointer-events: none; box-shadow: inset 0 0 0 35px rgba(255,255,255,1);}
.chooseFeedType a:hover:after{-webkit-animation: anim-effect-radomir 0.5s ease-out forwards; -moz-animation: anim-effect-radomir 0.5s ease-out forwards; -ms-animation: anim-effect-radomir 0.5s ease-out forwards; -o-animation: anim-effect-radomir 0.5s ease-out forwards; animation: anim-effect-radomir 0.5s ease-out forwards;}
.feedWidget .form{ position:absolute; top:50%; width:100%; left:50%; width:592px; margin-left:-296px; height:400px; margin-top:-200px; display:none; color:#FFFFFF;}
.feedWidget .form.active{ display:block;}
.feedWidget .form .formKid{ display:none;}
.formKid h1{ font-size:20px; text-align:center; color:#FFFFFF; padding-bottom:20px;}
.feedWidget .form .formKid.active{ display:block;}
.feedWidget .form input, .feedWidget .form textarea{ border-radius:5px;}
.feedWidget .form input[type="submit"]{ background-color:#f56961; color:#FFFFFF;}
.feedWidget .form .row{ padding-bottom:20px;}
.formBack, .formClose{background-repeat:no-repeat; background-position: center center; background-size:40px 40px; width:40px; height:40px; position:absolute;  top:-40px;}
.formBack{ background-image:url(../images/back_icon.png); left:0;}
.formClose{ background-image:url(../images/close_icon.png); right:0;}
.chooseFeedType.active{ display:block;}
.imageUploadIcon{ background-image:url(../images/file_upload.png); background-repeat:no-repeat; background-position: center bottom; width:60px; height:60px; background-size:60px 60px; cursor:pointer;}

.groupBannerWrap{ padding-bottom:100px; height:100%; width:100%;}
.groupBanner{ background-image:url(../images/groups/suggested/1528538.jpg); background-repeat:no-repeat; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; height:100%; width:100%; background-position:center center; background-attachment:scroll; height:calc(100% - 260px); position:relative;}
.groupBanner .myImage{ position:absolute; width:130px; height:130px; border-radius:50%; overflow:hidden; bottom:0; left:50%; margin-left:-65px;}
.groupBanner .myImage img{ height:100%; width:auto; max-width:none;}
.groupBanner .members{ position:absolute; right:0; bottom:0; margin-bottom:-20px;}
.groupBanner .members .count, .groupBanner .members .membersIcons{ float:left;}
.groupBanner .members .count{ margin-top:40px;}
.groupBanner .members .membersIcons img{ width:50px;}
.feedContainer .feedTimelineWrap li{ padding-left:30px; margin-bottom:20px;}

.slideView{ position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); z-index:1000; display:none;}
.slideView.active{ display:block;}
.slideView h1{ font-weight:400; font-size:28px; padding-bottom:15px;}
.slideView .slideWrap{  height:100%; width:70%; margin-left:30%; position:relative;-webkit-transform:translateX(100%); -moz-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%);transform:translateX(100%);}
.slideView.active .slideWrap{ -webkit-animation: slideOpen 500ms forwards 0ms;
       -moz-animation: slideOpen 500ms forwards 0ms;
        -ms-animation: slideOpen 500ms forwards 0ms;
         -o-animation: slideOpen 500ms forwards 0ms;
            animation: slideOpen 500ms forwards 0ms;}
.slideView .slideWrap .slideWrapClose{background-color:#FFFFFF; padding:20px; overflow-y:auto; height:100%;}
.slideView .feedDetail .masterImage{ float:left; width:100px;}
.slideView .feedDetail .feedContent{ padding-left:120px;}
.slideView .feedDetail .records{ border-bottom:1px dashed #a7a8a8;}
.slideView .feedDetail .records li{ float:left; width:auto; padding-left:15px;}
.slideView .feedDetail .records li:first-child{ padding-left:0;}
.slideView .feedDetail .feedMasterComment .commentImage, .slideView .feedDetail .newComment .commentImage{ float:left; width:60px;}
.slideView .feedDetail .commentText{ padding-left:80px;}
.slideView .feedDetail .askedBy{ color:#a7a8a8; padding-bottom:15px;}
.slideView .feedDetail .askedBy a{ color:#54b0e5;}
.slideView .feedDetail .records{ padding-bottom:5px; margin-bottom:20px;}
.slideView .feedDetail .records a{ color:#a7a8a8;}
.slideView .feedDetail .feedMasterData{ font-size:14px; line-height:18px;}
.slideView .feedDetail .feedMasterData p{ padding-bottom:10px;}
.slideView .feedDetail .feedMasterComment{ padding-top:15px;}
.slideView .feedDetail .feedMasterComment .count{border-bottom:1px dashed #a7a8a8; padding-bottom:10px;}
.slideView .feedDetail .commentList li{ padding-top:30px;}
.slideView .feedDetail .commentTextWrap{ border:1px solid #e3e3e3; padding:15px; border-radius:10px; font-size:14px; position:relative;}
.slideView .feedDetail .commentTextWrap:before, .slideView .feedDetail .commentTextWrap:after{ content:" "; position:absolute; width: 0; height: 0; border-top: 10px solid transparent;	border-bottom: 10px solid transparent; left:0; margin-left:-10px;}
.slideView .feedDetail .commentTextWrap:before{ top:10px; border-right:10px solid #e3e3e3;}
.slideView .feedDetail .commentTextWrap:after{ top:9px; border-right:11px solid #FFFFFF; border-top: 11px solid transparent;	border-bottom: 11px solid transparent; left:1px;}
.slideView .feedDetail .commentList .commentName{ color:#a7a8a8; padding-bottom:10px;}
.slideView .feedDetail .commentList .commentName a{ font-size:16px; color:#54b0e5;}
.slideView .feedDetail .commentList .commentPara{ line-height:18px;}
.slideView .feedDetail .commentList .commentPara p{ padding-top:5px;}
.slideView .feedDetail .viewMoreComments{ text-align:center; padding:10px 0; border-bottom:1px solid #e3e3e3; position:relative; display:block;}
.slideView .feedDetail .viewMoreComments:before{ background:url(../images/view_more_down.png) no-repeat center center; content:" "; position:absolute; width:18px; height:18px; display:block; left:50%; margin-left:-9px; bottom:0; margin-bottom:-30px;}
.slideView .feedDetail .newComment{ padding-top:50px;}
.slideView .feedDetail .newComment textarea{ border:0; border-radius:10px; height:70px;}
.slideView .feedDetail .newComment input[type="submit"]{ background-color:#34badf; color:#FFFFFF; border:0; border-radius:5px; padding:0 20px; height:40px; font-weight:400; text-transform:uppercase; font-size:14px;}
.slideView .feedDetail .newComment .commentTextWrap{ padding:0; width:70%; float:left;}
.slideView .slideClose{ position:absolute; background:url(../images/tab-first.png) no-repeat; width:40px; height:58px; left:0; top:0; margin-left:-40px;}
.slideView .slideClose:before{ content: " "; position:absolute; background:url(../images/slide_close.png) no-repeat center center; width:40px; height:40px; background-size:30px 30px; top:10px; left:5px;}
.feedContainer .feedImage img{ width:100%;}

.uploader{ position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(32, 59, 76, 0.7); z-index:1000; display:none;}
.uploader.active{ display:block;}

@media only screen and (min-width:10em) {
	header{ height:46px;}
	.content{ padding-top:50px;}
	.wrap{ width:100%; padding:0 10px;}
	header .wrap{ padding:0;}
	header .logo{width:71px; background-size:71px 25px; margin-left:-35px; height:46px;}
	.menuRight .searchLi{ display:none;}
	.navIcon{width:40px; background-size:40px 40px;}
	.profileNav li{ width:50%; padding:10px;}
	.profileNav{padding:10px;}
	.profileTop{ width:100%;}
	.profileTop .counts .row{ padding-bottom:5px;}
	header .menuLeft li span{ display:none;}
	header .menuLeft li a i, header .menuRight li a i{height:46px; width:40px; margin-top:-10px;}
	header .menuRight li a, header .menuLeft li a{line-height:46px; height:46px;}
	header .menuLeft li a{ padding-right:0;}
	header .menuLeft li a i{transform:scale(0.8); -moz-transform:scale(0.8); -webkit-transform:scale(0.8); -o-transform:scale(0.8); -ms-transform:scale(0.8)}
	header .menuRight li a.sideMenu{ display:block;}
	header .menuRight li a.notification, header .menuRight li a.mail{ display:none;}
	.profileNav li .icon{height:100px; padding-top:0;}
	.myPop .row.two .column{ width:100%;}
	.outer-nav{ width:100% !important;}
	.myPop .close{ left:0;}
	.feedContainer li{width:100%;}
	.feedContainer .feedTimelineWrap{width:100%;}
	.feedContainer .followerWrap{width:100%;}
	.feedContainer .feedTimelineWrap{ padding:0;}
	.feedContainer li{ padding:10px 0;}
	.myPop .row.two .column.Contacts{ padding-left:50px;}
	.gridFour li{width:100%;}
	.discussionMenu{ font-size:11px;}
	.secMenu{ font-size:12px;}
	.secMenu a{ margin:0 10px;}
	.discussionMenu ul{ width:100%; margin-bottom:20px;}
	.discussionMenu .newThreadLink{ float:none;}
	.addPeoples .addPeopleWrap{width:90%; margin-left:-41%;}
	.addPeoples .inviteHead img{ width:100px;}
	.addPeoples .inviteHead .details{ padding-left:120px;}
	.addPeoples .details .name{font-size: 14px; height:24px; line-height:24px;}
	.addPeoples .interests{font-size: 12px;}
	.addPeoples .followers{font-size: 10px; padding-top:5px;}
	.addPeoples .inviteList img{ width:40px;}
	.addPeoples .inviteDetails .inviteDetails{ padding-left:80px; padding-top:3px;}
	.feedWidget .form{top: 60px; left: 0; width: 100%;  margin-left: 0;  height: auto;  margin-top: 0;}
	.slideView .feedDetail .newComment .commentTextWrap{ width:100%;}
	.slideView .slideWrap{ width:95%; margin-left:5%;}
	.slideView .slideClose{ margin-left:-25px;}
	.slideView .feedDetail .masterImage, .slideView .feedDetail .feedMasterComment .commentImage, .slideView .feedDetail .newComment .commentImage{ width:40px;}
	.slideView .feedDetail .feedContent, .slideView .feedDetail .commentText{ padding-left:45px;}
	.feedContainer .profilePic{ position:relative; top:0; float:left;}
	.feedContainer .headDetails{ padding-left:70px;}
	.feedContainer .feedTimelineWrap li{ padding-left:0;}
}
@media only screen and (min-width:23em) {
	header .logo{width:102px; background-size:102px 36px; margin-left:-51px;}
	.navIcon{width:50px; background-size:50px 50px;}
	.profileNav, .profileNav li{padding:10px;}
	.profileTop .counts .row{ display:inline-block; padding-left:20px; text-align:center;}
	header .menuLeft li a{ padding-right:10px;}
	header .menuLeft li a i{transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); -o-transform:scale(1); -ms-transform:scale(1);}
	header .menuRight li a.sideMenu{ display:none;}
	header .menuRight li a.notification, header .menuRight li a.mail{ display:block;}
	.profileNav li .icon{height:140px; padding-top:20px;}
}
@media only screen and (min-width:28em) {
	.gridFour li{width:50%;}
	.discussionMenu .newThreadLink{ float:right;}
	.discussionMenu ul{ width:auto;margin-bottom:0;}
	.addPeoples .inviteList img{ width:50px;}
	.addPeoples .inviteDetails .inviteDetails{ padding-left:100px; padding-top:10px;}
	.slideView .slideClose{ margin-left:-40px;}
}
@media only screen and (min-width:40em) {
	.feedContainer .feedTimelineWrap{width:60%;}
	.feedContainer .followerWrap{width:40%;}
	.feedContainer .feedTimelineWrap{ padding:0 10px;}
	.feedContainer li{ padding:10px;}
	.discussionMenu{ font-size:14px;}
	.secMenu{ font-size:16px;}
	.secMenu a{ margin:0 20px;}
	.addPeoples .details .name{font-size: 18px; height:38px; line-height:38px;}
	.addPeoples .interests{font-size: 14px;}
	.addPeoples .followers{font-size: 12px; padding-top:10px;}
}
@media only screen and (min-width:48em) {
	.wrap{ padding:0 20px;}
	header .logo{margin-left:-51px;}
	.profileTop{ width:500px;}
	.menuRight .searchLi{ display:block;}
	.profileNav li{ width:25%;}
	.profileNav li, .profileNav{ padding:10px;}
	.outer-nav{ width:80% !important;}
	.myPop .close{ left:-15px;}
	.gridFour li{width:33.33333333333333%;}
	.addPeoples .addPeopleWrap{width:600px; margin-left:-300px;}
	.addPeoples .inviteHead img{ width:200px;}
	.addPeoples .inviteHead .details{ padding-left:220px;}
	.feedWidget .form{top: 50%; left: 50%; width: 592px;  margin-left: -296px;  height: 400px;  margin-top: -200px;}
	.slideView .slideWrap{ width:90%; margin-left:10%;}
	.slideView .feedDetail .masterImage, .slideView .feedDetail .feedMasterComment .commentImage, .slideView .feedDetail .newComment .commentImage{ width:60px;}
	.slideView .feedDetail .feedContent, .slideView .feedDetail .commentText{ padding-left:80px;}
}
@media only screen and (min-width:58em) {
	header .menuLeft li span{ display:inline-block;}
	header{ height:56px;}
	.content{ padding-top:60px;}
	header .menuRight li a, header .menuLeft li a{line-height:56px; height:56px;}
	header .menuLeft li a i, header .menuRight li a i{height:56px; width:40px; margin-top:0;}
	header .logo{width:102px; height:56px; background-size:102px 36px; margin-left:-51px; height:56px;}
	.myPop .row.two .column{ width:50%;}
	.myPop .row.two .column.Contacts{ padding-left:150px;}
	.feedContainer .feedTimelineWrap ul{width:100%;}
	.feedContainer .feedTimelineWrap li{ width:50%;}
	.feedContainer .feedTimelineWrap{width:70%;}
	.feedContainer .followerWrap{width:30%;}
	.slideView .slideWrap{ width:80%; margin-left:20%;}
	.feedContainer .profilePic{ position:absolute; top:-8px; float:none;}
	.feedContainer .headDetails{ padding-left:40px;}
	.feedContainer .feedTimelineWrap li{ padding-left:30px;}
}
@media only screen and (min-width:64em) {
	.navIcon{ display:none;}
	.profileNav li .icon{height:170px; padding-top:35px;}
	.profileNav li, .profileNav{ padding:20px;}
	.gridFour li{width:25%;}
}
@media only screen and (min-width:70em) {
	.feedContainer .feedTimelineWrap{width:75%;}
	.feedContainer .followerWrap{width:25%;}
	.slideView .feedDetail .newComment .commentTextWrap{ width:70%;}
	.slideView .slideWrap{ width:70%; margin-left:30%;}
	.slideView .feedDetail .masterImage{ width:100px;}
	.slideView .feedDetail .feedContent{ padding-left:120px;}
}
@media only screen and (min-width:80em) {
	.wrap{ width:1200px;}
	.profileNav .wrap{width:96%;}
}
@media only screen and (min-width:90em) {
	.profileNav .wrap{width:1200px; padding:0;}
}
@media only screen and (min-height:720px) {
	footer{ width:100%; position:absolute; bottom:0;}
}

@-webkit-keyframes movePop {
  0% {opacity: 0; visibility:hidden; right:-100%;}
  100% {opacity: 1; visibility:visible; right:0;}
}
@-moz-keyframes movePop {
 0% {opacity: 0; visibility:hidden; right:-100%;}
  100% {opacity: 1; visibility:visible; right:0;}
}
@-ms-keyframes movePop {
 0% {opacity: 0; visibility:hidden; right:-100%;}
  100% {opacity: 1; visibility:visible; right:0;}
}
@-o-keyframes movePop {
  0% {opacity: 0; visibility:hidden; right:-100%;}
  100% {opacity: 1; visibility:visible; right:0;}
}
@keyframes movePop {
 0% {opacity: 0; visibility:hidden; right:-100%;}
  100% {opacity: 1; visibility:visible; right:0;}
}

@-webkit-keyframes slideOpen {
  0% { -webkit-transform:translateX(100%);}
  100% { -webkit-transform:translateX(0%);}
}
@-moz-keyframes slideOpen {
  0% { -moz-transform:translateX(100%);}
  100% {-moz-transform:translateX(0%);}
}
@-ms-keyframes slideOpen {
  0% { -ms-transform:translateX(100%);}
  100% { -ms-transform:translateX(0%);}
}
@-o-keyframes slideOpen {
   0% {-o-transform:translateX(100%);}
  100% { -o-transform:translateX(0%);}
}
@keyframes slideOpen {
  0% { transform:translateX(100%);}
  100% {transform:translateX(0%);}
}



@-webkit-keyframes feedIconShow {
  0% { -webkit-transform:scale(0)}
  100% { -webkit-transform:scale(1)}
}
@-moz-keyframes feedIconShow {
 0% { -moz-transform:scale(0)}
  100% { -moz-transform:scale(1)}
}
@-ms-keyframes feedIconShow {
 0% { -ms-transform:scale(0)}
  100% { -ms-transform:scale(1)}
}
@-o-keyframes feedIconShow {
 0% { -o-transform:scale(0)}
  100% { -o-transform:scale(1)}
}
@keyframes feedIconShow {
 0% { transform:scale(0)}
  100% { transform:scale(1)}
}



.group_container{width:100%;height:100%;}
.fixedPos{width:1200px;margin:auto;}
.group_section{margin-top:56px;text-align:center;}
.group_head{padding:20px 0;background-color:white;border-bottom: 1px solid #DAD8D8;}
.group_head div.head_cover{display:inline-block;}
.group_head div.head_cover a{
display: inline-block;
padding: 6px 8px;
margin-left: 25px;
margin-right: 25px;
}
.activate{border-bottom: 1px solid #F52828;color: #F52828;}
div.grid_content > ul li{float:left;width:25%;height:auto;padding:20px;}
.grid_box{width:100%;background-color:white;box-shadow: 0px 0px 1px 0px rgba(197, 194, 194, 0.63);border-radius: 3px;}
.grid_box > a img,.grid_box a{width:100%;display:block;}
.add_button{padding:20px;text-align:center;}
.add_button h5{
	background: #34badf none repeat scroll 0% 0%;
display: inline-block;
color: #FFF;
padding: 8px 55px;
border-radius: 4px;
text-transform: uppercase;
font-weight: 400;
font-size: 14px;
}
.box_content h2{
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
	color: #474141;
}
.box_content h3{font-size: 12px;font-weight: 400; color:#9fa6b0; padding: 16px;padding-left: 35px;padding-right: 35px;}
.box_content h3 span:first-child{float:left;}
.box_content h3 span:last-child{float:right;}
.filter_cover{padding:0 20px;margin-top: 25px;}
.filter_cover > div{padding:20px;float: left;background-color:white;width:80%;}
.filter_cover > div.new_add{float:right;text-align: right;width:20%;}
.filter_cover > div.new_add a{background-color:#f56961;padding: 5px 10px; text-align:center;border-radius: 3px;color:white;font-size:14px;}
.filter_cover div ul li{float:left;}
.filter_cover div ul li a{padding: 8px;padding-left: 25px;padding-right: 25px;font-size:14px;}
.discussion_cover .grid_box > a div div span{border-radius: 50%;overflow: hidden;}
.discussion_cover .grid_box > a div div{background-color:#18C984;padding:2px;}
.discussion_cover .grid_box > a div.color1 div{ background-color:#9ccc65;}
.discussion_cover .grid_box > a div.color2 div{ background-color:#03a9f4;}
.discussion_cover .grid_box > a div.color3 div{ background-color:#e57373;}
.discussion_cover .grid_box > a div.color4 div{ background-color:#ba68c8;}
.discussion_cover .grid_box > a div.color5 div{ background-color:#00bcd4;}
.discussion_cover .grid_box > a div.color6 div{ background-color:#009688;}
.discussion_cover .grid_box > a div.color7 div{ background-color:#cddc39;}
.discussion_cover .grid_box > a div.color8 div{ background-color:#ff9800;}
.discussion_cover .grid_box > a div div span img{width:110px;margin:auto;display:block;}
.discussion_cover .grid_box .box_content{padding:15px;}
.discussion_cover .grid_box .box_content h1{font-weight: 400;font-size: 17px;padding-bottom: 10px; line-height:20px;color: #292222;text-align: left;padding-top: 0px;}
.discussion_cover .grid_box .box_content h4{text-align: left;font-size: 12px;font-weight: 400;color: #726969;text-overflow: ellipsis; line-height:16px;}
.discussion_cover .grid_box .box_content h5{font-size: 12px;font-weight: 400;color: #292222;padding-top:15px;padding-bottom:20px;}
.discussion_cover .grid_box .box_content h5 span:first-child{float: left;}
.discussion_cover .grid_box .box_content h5 span:last-child{float: right;}
.userPop_head{padding: 30px 30px 5px;}
.userPop_head > div > div{display:inline-block;}
.UserPop{width:90%;height:100%;background-color:white;float:right;position: relative;
transform:translateX(100%);
	-webkit-transform:translateX(100%);
	-moz-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transition: transform 0.5s ease-out;
	-webkit-transition: transform 0.5s ease-out;
	-moz-transition: transform 0.5s ease-out;
	-ms-transition: transform 0.5s ease-out;
	-o-transition: transform 0.5s ease-out;
}
.Opened .UserPop{
	transform:translateX(2%);
	-webkit-transform:translateX(2%);
	-moz-transform:translateX(2%);
	-ms-transform:translateX(2%);
}
.img img{width: 95px;display: block;top: 15px;position: relative;}
.box_img span:{position:relative;width:100%;height:100%;}
.box_img{position:relative;}
.discussion_cover .box_img:hover:before{width:100%;height:100%;position:absolute; 
	background:rgba(20, 20, 20, 0.5);background-size:50px 50px;background-repeat:no-repeat;background-position:center;
	content: "";left:0;top:0;}
.discussion_cover .box_img:hover .hoverName{display:block;}
.hoverName{}
.headText{padding-left:15px;}
.headText h2{
    font-size: 19px;
    font-weight: 500;
    color: rgb(38, 35, 35);
    padding-bottom: 14px;
}
.headText h4{
    font-weight: 400;
    font-weight: 400;
    font-size: 12px;
}
.headText h4 a{color: rgb(19, 130, 182);}
.headText h5{padding-top:16px;padding-bottom:10px;font-size:12px;font-weight:300}
.headText h5 span{padding-left:25px;padding-right:25px;}
.headText h5 span:first-child{padding-left:0px;}
.userPop_Contents{padding-left:145px;margin-right: 40px;}
.userPop_Contents p{font-size:13px;font-weight:400;padding-bottom:0px;padding-top:20px;line-height: 21px;}
.contents_para{border-top: 1px dashed black;padding-right:15px;}
.user_comments div h3{font-size: 15px;
font-weight: 400;
padding-top: 20px;
padding-bottom: 8px;
border-bottom: 1px dashed black;
}
.popup_cover{height:100%;overflow: auto;}
.comment_cover > div.user_img{float:left;width:15%;padding-top: 7%;}
.comment_cover > div.comment_list{
	float:right;width:80%;
border: 1px solid rgb(209, 202, 202);
padding: 20px;
border-radius: 5px;
position:relative;
}
.comment_list h2{font-size: 14px;font-weight:400}
.comment_list h2 a{color: #078F80;padding-right:10px;}
.list_user {padding-top:20px;padding-bottom:20px;}
.user_img img{width: 80px;
margin: auto;
display: block;
}
.comment_list p{font-size:14px;font-weight:400;padding-top:10px;padding-bottom:10px;}
.comment_list:before{
	content: "";
position: absolute;
width: 0px;
height: 0px;
border-top: 8px solid rgba(0, 0, 0, 0);
border-right: 17px solid #EDEAEA;
border-bottom: 8px solid transparent;
float: left;
margin-left: -38px;
margin-top: -10px;
top: 50%;
}
.list_user li{margin-bottom:20px;}
.Type_comment .comment_cover > div.comment_list{padding:0px;border:none;}
.Type_comment .comment_list:before{margin-left:-17px}
.Type_comment  .comment_cover > div.user_img {
    padding-top: 0;
}
.Type_comment  textarea{
    height: 60px;
    border-radius: 6px;
}
.buttonShow{
	width: 150px;
float: right;
height: 40px;
margin-bottom:20px;
}
.buttonShow input{
	background-color: rgb(23, 182, 188);
	padding:10px;
	color:white;
	width:100%;height:100%;display:block;border:none;border-radius:5px;
}
.show_comments{margin-left: 20%;
text-align: center;
padding-top: 0px;
margin-bottom: 45px;
}
.group2 .grid_content .grid_box a:hover .add_button h5{background: #111212 none repeat scroll 0% 0%;}
.grid_content .grid_box a:hover .add_button h5{background-color:#f56961;}
.show_comments a{
	padding-bottom: 10px;
width: 100%;
display: block;
border-bottom: 1px dashed #716C6C;
color: #716C6C;
}
.show_comments a:after{
	content: ">>";
color: #000;
width: 40px;
height: 50px;
transform: rotate(90deg);
position: absolute;
margin-left: -8%;
margin-top: 16px;
}
.discussion_cover{display:none;}

@media only screen and (max-width:1200px) {
.fixedPos{width:95%;margin:auto;}
.box_content h3 {padding: 16px 17px;}	
}
@media only screen and (max-width:1000px) {
.fixedPos{width:95%;margin:auto;}
.group_cover div > ul li{padding:10px;}
.box_content h3 {padding: 0px 0px;text-align:center;}
.box_content h3 span:first-child,
.box_content h3 span:last-child{float:none;width:100%;display:block;padding-top:10px;}
.discussion_cover div.grid_content > ul li{width:33.3333333%}
}
@media only screen and (max-width:900px) {
	.group_cover div > ul li{width:33.33333333%;padding: 10px 3px;}
	.userPop_head .img{width: 100%;text-align: center;}
	.userPop_head .img img{display:inline-block;top:0px}
	.userPop_Contents {
   padding-left: 29px;
    margin-right: 0px;
}
.UserPop {
    width: 100%;
}
	.filter_cover > div {width:100%}
	.filter_cover > div.new_add{width:100%;}
	.filter_cover div ul li {
    float: left;width:auto;text-align:center;
}
.filter_cover{padding:0px;}
div.grid_content > ul li {
    padding: 5px;
}
	.filter_cover > div.new_add a {
    display: block;
    width: 115px;
    margin: auto;
	}
}

@media only screen and (max-width:600px) {
	.group_cover div > ul li{width:50%;}
	.group_head div.head_cover a {
    margin-left: 6px;
    margin-right: 6px;
}
.discussion_cover div.grid_content > ul li {
    width: 50%;
}
.fixedPos{ width:100%;}
}
@media only screen and (max-width:400px) {
.group_cover div > ul li{width:100%;}
.discussion_cover div.grid_content > ul li {
    width: 100%;
}
.filter_cover div ul li a{ padding:5px 0 5px 10px;}
.filter_cover div ul li:first-child a{padding:5px 0 5px 0;}
.filter_cover > div{ padding:20px 0 20px 10px;}
}






@-webkit-keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		-webkit-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		-webkit-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
	}
}
@-moz-keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-moz-transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		-moz-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		-moz-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-moz-transform: scale3d(1.2, 1.2, 1);
	}
}
@-ms-keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-ms-transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		-ms-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		-ms-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-ms-transform: scale3d(1.2, 1.2, 1);
	}
}
@-o-keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-o-transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		-o-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		-o-box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-o-transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}